#Questions

1. What are data structures, and why are they important?

  - **Data structures** are systematic ways of organizing, managing, and storing data so that it can be accessed and modified efficiently. They are important because they determine how efficiently programs perform tasks such as searching, inserting, updating, and deleting data. Using the right data structure improves performance, reduces memory usage, and ensures scalability in software development.

2. Explain the difference between mutable and immutable data types with examples.

  - **Mutable** data types allow modification after creation. Their contents can be changed once created.     
  **Example**: Lists in Python -

    nums = [1, 2, 3]         
    nums[0] = 10


    **Immutable** data types cannot be changed once created. Any modification in immutable data type will create a new object.   
    **Example**: Strings in Python -

    text = "hello"
    text = text + " world"

3. What are the main differences between lists and tuples in Python?

- **Mutability**: Lists are mutable; tuples are immutable.

    **Performance**: Tuples are faster and use less memory compared to lists.

    **Use case**: Lists are used for dynamic data that changes often, while tuples are used for fixed data that should remain constant.

    **Syntax**: Lists use square brackets [ ], tuples use parentheses ( ).

4. Describe how dictionaries store data.

- **Dictionaries** in Python store data in key–value pairs. Internally, they use a hash table where the key is hashed into an index, and the corresponding value is stored at that index. This allows very fast lookups because instead of searching sequentially, Python calculates where the value should be stored or retrieved.

5. Why might you use a set instead of a list in Python?

- A **set** is used when:

    1) We need to avoid duplicate values automatically.

    2) We want fast membership testing (checking if an element exists).

    3) The order of elements is not important.    
    Thus, sets are efficient for uniqueness and membership checks, whereas lists are better for ordered collections.

6. What is a string in Python, and how is it different from a list?

- A string is a sequence of characters enclosed in single, double, or triple quotes. Unlike a list, which can hold elements of different data types, a string only holds characters. Strings are immutable, meaning they cannot be modified once created, while lists are mutable.

7. How do tuples ensure data integrity in Python?

- **Tuples** are immutable, meaning once created, their elements cannot be changed, added, or removed. This ensures that data stored in a tuple remains constant and prevents accidental modification, thereby ensuring data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A **hash table** is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables. The key is hashed to produce an index, and the value is stored at that position, allowing very fast data retrieval.

9. Can lists contain different data types in Python?

- Yes, **lists** can hold multiple data types within the same list. For example:

  data = [1, "hello", 3.5, True]

10. Explain why strings are immutable in Python.

- **Strings** are immutable because Python optimizes memory and performance by reusing string objects. This also enhances security since strings are commonly used as keys in dictionaries, and immutability prevents accidental modification that could cause data corruption.

11. What advantages do dictionaries offer over lists for certain tasks?

- **Dictionaries** allow faster lookups using keys instead of searching through the entire list.

  Data is stored in key–value pairs, making it more descriptive.

  They are ideal when mapping relationships (e.g., student name → marks).

12. How do sets handle duplicate values in Python?

- **Sets** automatically remove duplicates. If a duplicate element is added, Python ignores it, keeping only one instance of each unique element.

13. Describe a scenario where using a tuple would be preferable over a list.

- When we want to store fixed data such as geographical coordinates (latitude, longitude), where values should not change, a tuple is used as it guarantees immutability.

14. How does the “in” keyword work differently for lists and dictionaries?

- In lists, "in" checks whether a value exists among the elements.

  In dictionaries, "in" checks for the existence of a key, not a value.

15. Can you modify the elements of a tuple? Explain why or why not.

- No, tuples are immutable, meaning their contents cannot be modified after creation. This ensures that data stored in a tuple remains constant.

16. What is a nested dictionary, and give an example of its use case.

- A **nested dictionary** is a dictionary inside another dictionary.when we create a dictionary inside another dictionary it is called nested dictionary.                                       
**Example** use case: storing student data by ID.     

  students = {
      1: {"name": "Alice", "age": 20},           
      2: {"name": "Bob", "age": 22}             
  }

17. Describe the time complexity of accessing elements in a dictionary.

- The average **time complexity** of accessing an element in a dictionary is O(1) because of hash table implementation. In rare cases of hash collisions, it can degrade to O(n).

18. In what situations are lists preferred over dictionaries?

- **Lists** are preferred when:

  1. Order of elements matters.

  2. Data is homogeneous (same type).

  3. We need sequential access instead of key-based access.
  For example, storing a list of student names in order.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- **Dictionaries** are considered unordered because their elements are stored based on hash values of keys, not in sequential order. This means We cannot rely on the insertion order for logical processing.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- In a list, data is retrieved by index (position), which may require searching sequentially (O(n)).

  In a dictionary, data is retrieved by key, which provides direct access (O(1)).

#Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
name = "Sakshi Sharma"
print(name)

Sakshi Sharma

2. Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [27]:
numbers = []
for i in range(1, 6):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [6]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [7]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [8]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [9]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [10]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [11]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [12]:
nums = (10, 20, 5, 15)
print(min(nums))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [13]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [15]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [16]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [28]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3=set1|set2
print(set1.union(set2))
print(set3)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [29]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3=set1&set2
print(set3)
print(set1.intersection(set2))

{2, 3}
{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [19]:
person = {"name": "Alice", "age": 25, "city": "Delhi"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [20]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [21]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [31]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [22]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print it.

In [23]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[32, 42, 69, 74, 77]

28. Write a code to create a list with strings and print the element at the third index.

In [32]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [37]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict3 = dict1 | dict2
print(dict3)
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [25]:
words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)

{'banana', 'cherry', 'apple'}